.main-intranet {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.container-main{
    position: relative;
    width: 100%;
}

.container-navigation{
    width: 100%;
}